html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    background: brown;
    height: 70px;
    h1 {
        position: absolute;
        left: 12%;
        right: 70%;
        color: white;
    }
}

.grid-container {
    margin: 15px;
    left: 23%;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}