
    <!-- <form>
        <tr>
            <td>
                <input type = "text" placeholder = "Name" [(ngModel)] = "name"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "text" placeholder = "Surname" [(ngModel)] = "surname"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "text" placeholder = "Email" [(ngModel)] = "email"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "text" placeholder = "Contact" [(ngModel)] = "contact"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "password" placeholder = "Password" [(ngModel)] = "password"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "password" placeholder = "Confirm Password" [(ngModel)] = "confirm_password"/>
            </td>
        </tr>

        <tr><button class = "create_account">Create Account</button></tr>
    </form> -->
    <p>register works!</p>
<button (click)="logout()">home</button>

<div style="position: absolute; max-width: 90%; min-width: 90%; z-index: 999; " class="search">
    <ul lines="none" *ngIf="addresses.length > 0" color="lightb" style="background: var(--ion-item-background,var(--ion-background-color, black)); ">

        <div *ngFor="let address of addresses ; let i=index" (click)="onSelect(address, i)" color="dark">

           
            <p class="searchv">{{ address}}</p>
        </div>

    </ul>

</div>

