
    <!-- <form>
        <tr>
            <td>
                <input type = "text" placeholder = "Name" [(ngModel)] = "name"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "text" placeholder = "Surname" [(ngModel)] = "surname"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "text" placeholder = "Email" [(ngModel)] = "email"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "text" placeholder = "Contact" [(ngModel)] = "contact"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "password" placeholder = "Password" [(ngModel)] = "password"/>
            </td>
        </tr>

        <tr>
            <td>
                <input type = "password" placeholder = "Confirm Password" [(ngModel)] = "confirm_password"/>
            </td>
        </tr>

        <tr><button class = "create_account">Create Account</button></tr>
    </form> -->
    <p>register works!</p>

    <!-- <input type="text" (click)="search($event)"  />

<div class="search">
    <ul color="light" >

        <div *ngFor="let address of addresses ; let i=index"style="background:  lightblue; " (click)="onSelect(address, i)" >

           
            <p class="searchv">{{ address}}</p>
        </div>

    </ul>

</div> -->

<input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

<button (click)="try()">home</button>
<br>
<!-- <div>
    <form [formGroup] = "register_form">
        <tr>
            <td>
                <input type = "text" placeholder = "Name" [(ngModel)] = "name" formControlName = "name"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "text" placeholder = "Surname" [(ngModel)] = "surname" formControlName = "surname"/>
            </td>
        </tr>
        
        <tr>
            <td>
                <input type = "text" placeholder = "Gender" [(ngModel)] = "gender" formControlName = "gender"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "text" placeholder = "Age" [(ngModel)] = "age" formControlName = "age"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "text" placeholder = "Email" [(ngModel)] = "email" formControlName = "email"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "text" placeholder = "Contact" [(ngModel)] = "contact" formControlName = "contact"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "text" placeholder = "Address" [(ngModel)] = "address" formControlName = "address"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "text" placeholder = "Qualification" [(ngModel)] = "qualification" formControlName = "qualification"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "text" placeholder = "Price" [(ngModel)] = "price" formControlName = "price"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "password" placeholder = "Password" [(ngModel)] = "password" formControlName = "password"/>
            </td>
        </tr>
​
        <tr>
            <td>
                <input type = "password" placeholder = "Confirm Password" [(ngModel)] = "confirm_password" formControlName = "confirm_password"/>
            </td>
        </tr>
​
        <tr><button class = "create_account" (click) = "CreateAccount()">Create Account</button></tr>
    </form>
</div> -->
<div class="form">
<mat-card>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput required [(ngModel)]="name" >
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput required [(ngModel)]="surname" >
        </mat-form-field>
        <br>
        <mat-form-field>
                <mat-label>Age</mat-label>
                <input matInput required [(ngModel)]="age" >
            </mat-form-field>
            
        <br>
        <label>Gender: </label>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field>
            <mat-label>Nationality</mat-label>
            <select matNativeControl required>
              <option value="black">Black</option>
              <option value="white">White</option>
              <option value="coloured">Coloured</option>
              <option value="indian">Indian</option>
            </select>
          </mat-form-field>
          <br>
        <mat-form-field>
                <mat-label>Contact Number</mat-label>
                <input matInput required [(ngModel)]="contactnumber" >
            </mat-form-field>

    </mat-card>
        

    </div>
    